@font-face {
   font-family: "Lato";
   src: url("fonts/Lato Bold.woff") format("woff"), url("fonts/Lato Bold.eot") format("embedded-opentype"), url("fonts/Lato Bold.ttf") format("truetype"), url("fonts/Lato Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Lato";
   src: url("fonts/Lato Regular.woff") format("woff"), url("fonts/Lato Regular.eot") format("embedded-opentype"), url("fonts/Lato Regular.ttf") format("truetype"), url("fonts/Lato Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Lato Black";
   src: url("fonts/Lato Black.woff") format("woff"), url("fonts/Lato Black.eot") format("embedded-opentype"), url("fonts/Lato Black.ttf") format("truetype"), url("fonts/Lato Black.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Monstro";
   src: url("fonts/Monstro.woff") format("woff"), url("fonts/Monstro.eot") format("embedded-opentype"), url("fonts/Monstro.ttf") format("truetype"), url("fonts/Monstro.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}